@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    display: flex;
    flex-direction: column;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Optional: still allow scrolling */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


.formForm {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent !important;
    border-color: transparent !important;
    border-width: 1px;
    border-radius: 0;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}


.rideH2 {
  font-size: 2rem !important;
}

.text-peachDark {
  color: #f07e5b !important;
}

@media (max-width: 991px) {
  .riffy {
    height: 25vh;
  }
}

