* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

.search-container {
display: flex;
justify-content: center;
align-items: center;
font-family: sans-serif;
background: transparent;
background-size: cover;
background-repeat: no-repeat;
}

.bar {
width: 650px;
max-width: 90vw;
background: white;
box-shadow: 0 0 5px hsl(0 0% 78%);
height: 55px;
border-radius: 100vw;
display: flex;
justify-content: center;
font-size: 0.6rem;
}

.bar div {
border-radius: inherit;
padding: 0.8rem 1.5rem;
transition: background 250ms ease;
position: relative;
}

@media (max-width: 768px) {
    .mobile-search-trigger {
        padding: 0 0 !important;
    }
}

.bar div:hover {
background: hsl(0 0% 94%);
}

.location {
width: 34%;
}

.check-in,
.check-out,
.guests {
width: 22%;
}

.bar > div::before {
position: absolute;
content: "";
left: 0;
top: 50%;
transform: translateY(-50%);
width: 1px;
height: 55%;
background: hsl(0 0% 90%);
}

.bar > div:nth-of-type(1)::before {
background: transparent;
}

.bar > div:hover::before {
background: transparent;
}

.field-label {
font-weight: 500;
color: #222;
top: 4px;
display: block;
display: absolute;
}

.inputType {
background: none;
border: none;
margin-top: 6px;
padding: 0.2rem 0 0 0;
width: 100%;
font-size: 0.75rem;
}

.inputType:focus {
outline: none !important;
}

.inputType::placeholder {
font-size: 0.75rem;
color: #999;
}

.guests {
position: relative;
}

.guests input {
padding-right: 2.5rem;
}

.search-button {
position: absolute;
top: 50%;
right: 10px;
transform: translateY(-50%);
background: #F26722;
color: white;
font-size: 0.8rem;
padding: 0.7rem;
border-radius: 50%;
border: none;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 0.2s ease;
}

.search-button:hover {
background: #E31C5F;
}

